{# src/Lulhum/RepartitionMedecineBundle/Resources/views/Admin/editlocation.html.twig #}

{% extends "LulhumRepartitionMedecineBundle::adminlayout.html.twig" %}

{% block title %}
Lieu - {{ parent() }}
{% endblock %}

{% block bodytitle %}
	<h3>Éditer le lieu</h3>
{% endblock %}

{% block nobody %}
	{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
	<div class="panel-body" >
		{% include('LulhumRepartitionMedecineBundle:Admin:location_type.html.twig') %}
	</div>
	<div class="panel-footer" >
		<button class="btn btn-success" type="submit" >Éditer</button>
	</div>		
	{{ form_rest(form) }}
	{{ form_end(form) }}
{% endblock %}
