{# src/Lulhum/RepartitionMedecineBundle/Resources/views/Admin/index.html.twig #}

{% extends "LulhumRepartitionMedecineBundle::adminlayout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block body %}
	<h2>Bienvenue dans l'interface d'administration
	</h2>
{% endblock %}
