{# src/Lulhum/RepartitionMedecineBundle/Resources/views/Admin/useradd.html.twig #}

{% extends "LulhumRepartitionMedecineBundle::adminlayout.html.twig" %}

{% block title %}
	Ouvrir la répartition de groupe {{ promotion }} - {{ parent() }}
{% endblock %}

{% block bodytitle %}
	<h3 class="panel-title" >Ouvrir la répartition de groupe {{ promotion }}</h3>
{% endblock %}

{% block body %}
	{{ form(form) }}
{% endblock %}
