{# src/Lulhum/RepartitionMedecineBundle/Resources/views/Admin/useradd.html.twig #}

{% extends "LulhumRepartitionMedecineBundle::adminlayout.html.twig" %}

{% block title %}
	Modifier les paramètres - {{ parameterGroup }} - {{ parent() }}
{% endblock %}

{% block bodytitle %}
	<h3>Modifier les paramètres - {{ parameterGroup }}</h3>
{% endblock %}

{% block body %}	
	{{ form(form) }}	
{% endblock %}
