{# src/Lulhum/RepartitionMedecineBundle/Resources/views/Admin/stagecategory.html.twig #}

{% extends "LulhumRepartitionMedecineBundle::adminlayout.html.twig" %}

{% block title %}
  Modèle de stage - {{ parent() }}
{% endblock %}

{% block lulhumrepartitionmedecine_body %}
	<h3>Proposition de stage</h3>

	<div class="well" >
		{{ form(form) }}
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
	$(document).ready(function() {

		var $periodContainer = $('div#lulhum_repartitionmedecine_stageproposal_new_period');
		
		var $addPeriodLink = $('<a href="#" id="add_period" class="btn btn-success" data-activated="false">Créer une nouvelle période</a>');
		var $periodPrototype = $periodContainer.html();
		$periodContainer.html('');
		$periodContainer.append($addPeriodLink);
		$periodContainer.append($('<div id="add_period_container"></div>'));

		$addPeriodLink.click(function(e) {
			if($addPeriodLink.attr('data-activated') === 'false') {
				$('div#add_period_container').append($periodPrototype);
				$addPeriodLink.attr('data-activated', 'true');
				$addPeriodLink.attr('class', 'btn btn-danger');
				$addPeriodLink.html('Annuler');
			}
			else {
				$addPeriodLink.attr('data-activated', 'false');
				$('div#add_period_container').html('');
				$addPeriodLink.attr('class', 'btn btn-success');
				$addPeriodLink.html('Créer une nouvelle période');
			}
			e.preventDefault();
			return false;
		});

		var $requirementsContainer = $('div#lulhum_repartitionmedecine_stageproposal_requirements');

		var $addRequirementLink = $('<a href="#" id="add_requirement" class="btn btn-success">Ajouter une contrainte</a>');
		$requirementsContainer.append($addRequirementLink);

		$addRequirementLink.click(function(e) {
			addRequirement($requirementsContainer);
			e.preventDefault();
			return false;
		});

		var index = 0;$requirementsContainer.find(':input').length;

		$requirementsContainer.children('div').each(function() {
			addDeleteLink($(this));
			$(this).children('label').html('Contrainte n°' + (index+1));
			index++;
		});

		function addRequirement($container) {
			var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, 'Contrainte n°' + (index+1))
				.replace(/__name__/g, index));
			addDeleteLink($prototype);
			$container.append($prototype);
			index++;
		}

		function addDeleteLink($prototype) {
			$deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');
			$prototype.append($deleteLink);
			$deleteLink.click(function(e) {
				$prototype.remove();
				e.preventDefault();
				return false;
			});
		} 
	});
	</script>
{% endblock %}
