{# src/Lulhum/RepartitionMedecineBundle/Resources/views/Admin/index.html.twig #}

{% extends "LulhumRepartitionMedecineBundle::adminlayout.html.twig" %}

{% block title %}
  Modèles de stage - {{ parent() }}
{% endblock %}

{% block lulhumrepartitionmedecine_body %}
	<h3>Gestion des modèles de stage</h3>

	<div class="panel panel-default" >
		<div class="panel-heading" >
			<a class="btn btn-primary" href="">Nouveau Modèle</a>
		</div>
	</div>
{% endblock %}
