{# src/Lulhum/RepartitionMedecineBundle/Resources/views/Repartition/index.html.twig #}

{% extends "LulhumRepartitionMedecineBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block lulhumrepartitionmedecine_body %}
  <h2>Bienvenue {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}{{ app.user.firstname }} {{ app.user.lastname }}{% endif %}</h2>
{% endblock %}
