{# src/Lulhum/RepartitionMedecineBundle/Resources/views/Repartition/menu.html.twig #}

{% for item in listItems %}
	<li>
		<a href="{{ path(item.path, item.options) }}">
			{{ item.label }}
		</a>
	</li>
{% endfor %}
