{# src/Lulhum/UserBundle/Resources/views/Admin/useradd.html.twig #}

{% extends "LulhumRepartitionMedecineBundle::adminlayout.html.twig" %}

{% block title %}
	Nouvel utilisateur - {{ parent() }}
{% endblock %}

{% block bodytitle %}
	<h3 class="panel-title">Ajouter un nouvel utilisateur</h3>
{% endblock %}

{% block body %}
	{{ form(form) }}	
{% endblock %}
