{# src/Lulhum/RepartitionMedecineBundle/Resources/views/Admin/useredit.html.twig #}

{% extends "LulhumRepartitionMedecineBundle::adminlayout.html.twig" %}

{% block title %}
  {{ user.fullname }} - {{ parent() }}
{% endblock %}

{% block bodytitle %}
	<div class="panel-title" >Modifier</div>
{% endblock %}

{% block body %}
	{{ form(form) }}	
{% endblock %}
