{% extends "::layout.html.twig" %}

{% block body %}

	{% for key, messages in app.session.flashbag.all() %}
		{% for message in messages %}
			<div class="alert alert-{{ key }}">
				{{ message|trans({}, 'FOSUserBundle') }}
			</div>
		{% endfor %}
	{% endfor %}


	{% block fos_user_content %}
	{% endblock fos_user_content %}
	
{% endblock %} 

{% block javascripts %}
	{{ parent() }}
	{% javascripts '@LulhumRepartitionMedecineBundle/Resources/public/js/search-select-popover.js' %}
	<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
	<script type="text/javascript">
	$(document).ready(function() {
		activateSearchSelectPopover();
	});
	</script>
{% endblock %}
